@import "../../styles/variables";

.blogUI {
	display: flex;
	align-items: center;
	gap: 1rem;
	img {
		border-radius: 0.5rem;
		width: 100px;
		height: 100px;
		object-fit: cover;
		object-position: center;
	}
	h1 {
		font-size: 1.5rem;
		text-transform: capitalize;
	}
}
