@import '../../styles/variables';

.top-half{
    width: 100%;
    height: 150vh;
    scroll-snap-align: start;
    padding-top: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 100px 150px 500px;
    // grid-template-rows: auto;
    // grid-auto-rows: auto;
    gap: 1.25rem;
    
    .one{
        order: 2;
    }
    .two{
        order: 4;
    }
    .three{
        order: 1;
    }
    .four{
        order: 2;
    }
    .five{
        order: 5;
    }
    .six{
        order: 6;
    }
    @media (min-width: 720px) {
        height: 150vh;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 1.5rem;
        padding-top: unset;
        padding-top: 1rem;

        .one{
            grid-column: 1/3;
        }
        .two{
            grid-column: 3/-1;
            grid-row: 1/3;
        }
        .three {
            grid-column: 1/2;
            grid-row: 2/4;}
        .four{
            grid-column: 2/3;
            grid-row: 2/3;
        }
        .five{
            grid-column: 2/4;
            grid-row: 3/4;
        }
        .six{
            grid-column: 4/-1;
        }
        .one, .two, .three, .four, .five, .six {
            order: unset;
        }
    }
}