@import "./styles/variables";
* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Montserrat", sans-serif;
	color: $blue;
}

p,
span {
	font-family: "Lato", sans-serif;
}

code {
	color: $red;
	font-weight: bold;
	font-size: .85rem;
}

.App {
	background-color: #E5E5E5;
	// padding: 1rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	// height: 100%;
}

html {
	scroll-behavior: smooth;
	// scroll-snap-type: y proximity;
	scroll-snap-type: y mandatory;
}

.curve {
	background-color: #fff;
	border-radius: $base-radius;
	padding: 1rem;
}
